nav>ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 8px;
    margin-right: 8px;


}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: red;
    padding: 6px 8px;
}

ul {
    list-style: none;

}

.dropdown {
    display: none;
    position: absolute;
}

nav>ul>li:hover>ul {
    display: block;
}